/* common */

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

html {
  scroll-behavior: smooth;
}

/* Reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------header---------------------------- */

main {
  position: relative;
}

.header {
  position: absolute;
  top: 29px;
  left: 0;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(35px);
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
}

.header-box {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

.header-nav {
  margin-left: auto;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  padding-top: 29px;
  padding-bottom: 28px;
  display: block;
}

/* --------------hero---------------------------- */

.hero {
  padding-top: 243px;
  padding-bottom: 146px;

  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  color: #ffffff;
}

.hero-container {
  position: relative;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 12px;
  max-width: 442px;
}

.hero-heading {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 28px;
  max-width: 315px;
}

.hero-list {
  max-width: 402px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 62px;
}

.hero-item-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero-icon {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
}

.hero-btn {
  border: none;
  border-radius: 5px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  font-weight: 700;
  font-size: 16px;
  padding: 12px 60px;
  width: 200px;
  height: 42px;
  display: block;
  cursor: pointer;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #06071b;
  border: 2px solid;
  border-radius: 6px;
  border-image-source: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border-image-slice: 1;
}

.hero-img {
  position: absolute;
  top: -138px;
  right: 0;
}

/* --------------FEATURES---------------------------- */

.features {
  background-image: url(../images/Vector_4.png), url(../images/Vector_3.png);

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: top right, bottom left;

  padding-top: 100px;
  padding-bottom: 100px;
}

.features-tytle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 80px;
  text-align: center;
  color: #000;
}

.features-subtytle-title-item {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 855px;
  margin: 0 auto 56px auto;
}

.features-box {
  display: flex;
  gap: 31px;
  align-items: center;
  justify-content: center;
}

.features-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 54px;

  padding-top: 61px;
  padding-bottom: 37px;
}

.features-list-seconde {
  display: flex;
  flex-direction: column;
  gap: 54px;
  padding-top: 61px;
  padding-bottom: 32px;
}

.features-list-item {
  max-width: 258px;
  display: flex;
  gap: 8px;
}

.features-list-item-sec {
  max-width: 261px;
  display: flex;
  gap: 8px;
}

.icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.features-tytle-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
  color: #000;
  margin-bottom: 13px;
}
.features-subtytle-item {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  max-width: 220px;
}

.features-deskr {
  max-width: 223px;
}

/* --------------WATCH THE VIDEO---------------------------- */

.watch-video {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/video-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.watch-video-container {
  display: flex;
}

.watch-video-box {
  display: flex;
  flex-direction: column;
}

.watch-video-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.watch-video-text {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px;
  color: #ffffff;
  max-width: 479px;
}

.watch-video-list {
  display: flex;
  gap: 20px;
}

.watch-video-item {
  width: 60px;
  height: 60px;
}

.watch-video-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}

.watch-video-icon {
  fill: #fff;
}

.watch-video-images {
  margin-left: auto;
}

.watch-video-link:hover .watch-video-icon,
.watch-video-link:focus .watch-video-icon {
  stroke: #00c5eb;
  stroke-width: 2px;
  fill: none;
}

.watch-video-link:hover,
.watch-video-link:focus {
  background: linear-gradient(99deg, #06071b 0%, #06071b 100%) content-box,
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

/* --------------OUR TEAM---------------------------- */

.our-team {
  background-image: url(../images/Vector_4.png), url(../images/Vector_3.png);

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: top right, center center;

  padding-top: 80px;
  padding-bottom: 0;
}

.our-team-title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-align: center;

  margin-bottom: 80px;
}

.our-team-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;

  max-width: 886px;

  margin: 0 auto 56px auto;
}

.our-team-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.our-team-item {
  border-radius: 15px;
  padding: 14px 12px 12px 12px;
  width: calc((100% - 3 * 32px) / 4);
}

.david {
  backdrop-filter: blur(35px);
  background: #06071b
    linear-gradient(
      318deg,
      rgba(0, 197, 235, 0.5) 0%,
      rgba(181, 68, 254, 0.5) 100%
    );
}

.rachel {
  backdrop-filter: blur(35px);
  background: #06071b
    linear-gradient(
      115deg,
      rgba(0, 197, 235, 0.5) 0%,
      rgba(181, 68, 254, 0.5) 100%
    );
}

.chen {
  backdrop-filter: blur(35px);
  background: #06071b
    linear-gradient(
      197deg,
      rgba(0, 197, 235, 0.5) 0%,
      rgba(181, 68, 254, 0.5) 100%
    );
}

.andrew {
  backdrop-filter: blur(35px);
  background: #06071b
    linear-gradient(
      319deg,
      rgba(0, 197, 235, 0.5) 0%,
      rgba(181, 68, 254, 0.5) 100%
    );
}

.our-team-image {
  border-radius: 10px;
  width: 264px;
  height: 260px;
}

.our-team-container-descr {
  margin-top: 20px;
}

.our-team-subtitle {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;

  margin-bottom: 12px;
}

.our-team-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  text-align: center;
}

/* --------------COSTUMERS---------------------------- */

.coctumers {
  background-image: url(../images/cost-1.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  padding-top: 116px;
  padding-bottom: 80px;
}

.coctumers-container {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coctumers-title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 40px;
}

.coctumers-imag {
  border-radius: 100%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.coctumers-subtitles {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  margin-bottom: 12px;
}

.coctumers-company {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

.coctumers-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  max-width: 886px;
  margin-bottom: 64px;
}

/* ----------------------------footer---------------------------- */

.footer-page {
  padding-top: 80px;
  padding-bottom: 21px;

  background-image: url(../images/foot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  color: #ffffff;
}

.footer-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 80px;
}

.footer-contact-box {
  display: flex;
  justify-content: space-between;

  padding-left: 16px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 24px;

  max-width: 229px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;

  max-width: 500px;
}

.footer-link-list {
  display: flex;
  gap: 14px;
}

.footer-link-item {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  fill: #ffffff;
}

.footer-link-item:hover .footer-icon,
.footer-link-item:focus .footer-icon {
  stroke: #00c5eb;
  stroke-width: 2px;
  fill: none;
}

.footer-link-item:hover,
.footer-link-item:focus {
  background: linear-gradient(99deg, #06071b 0%, #06071b 100%) content-box,
    linear-gradient(99deg, #00c5eb 0%, #b544fe 100%) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.address-footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address-item {
  font-weight: 500;
  color: #ffffff;
}

.phone {
  font-size: 16px;
}

.mailto {
  font-size: 14px;
}

.footer-form {
  max-width: 608px;
  margin-left: auto;
}

.footer-list-input {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
}

.footer-input {
  border: 0;
  width: 288px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 11px 8px;
  color: #000;
}

.footer-form-text {
  resize: none;
  width: 608px;
  height: 162px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 12px 8px;
  color: #000;
}

.footer-form-text::placeholder,
.footer-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #939eac;
}

.btn-footer {
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin-bottom: 79px;
  margin-left: auto;

  border-radius: 5px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  padding: 12px 59px;

  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  width: 181px;
  height: 42px;
}

.btn-footer:hover,
.btn-footer:focus {
  background: #06071b;
  border: 2px solid;
  border-radius: 6px;
  border-image-source: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border-image-slice: 1;
}

.footer-down {
  border: 1px solid #fff;
  width: 1280px;
  height: 0px;
  transform: rotate(-180deg);
}

.footer-down-text {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-align: left;
  max-width: 500px;
  margin-top: 22px;
  padding-left: 16px;
}

/* ----------------------------modal---------------------------- */

.backdrop {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(118, 239, 211, 0.5);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  background-color: #06071b;
  width: 568px;
  min-height: 936px;
  border-radius: 4px;
  padding: 32px 40px;

  transform: translate(-50%, -50%);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  border: none;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;

  background-color: transparent;

  cursor: pointer;
}

.modal-icon-close {
  fill: #ffffff;
}

.modal-close-btn:hover .modal-icon-close,
.modal-close-btn:focus .modal-icon-close {
  fill: #89c9f3;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: #fff;
  margin-bottom: 28px;
}

.download-container {
  display: flex;
  margin-bottom: 32px;
  gap: 22px;
}

.download-free {
  width: 233px;
  min-height: 394px;
  padding: 28px 22px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid;
  border-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border-image-slice: 1;
  border-radius: 6px;
}

.modal-icon-icon {
  fill: #fff;
  margin-bottom: 20px;
}

.download-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  margin-bottom: 20px;
}

.download-free-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.download-free-item:not(:last-child) {
  margin-bottom: 14px;
}

.modal-icon-plan {
  fill: #fff;
  width: 14px;
  height: 14px;

  flex-shrink: 0;
}

.download-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}

.download-not-free {
  width: 233px;
  min-height: 394px;
  padding: 28px 22px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid;
  border-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border-image-slice: 1;
  border-radius: 6px;
}

.download-not-free-item {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.download-not-free-item:not(:last-child) {
  margin-bottom: 14px;
}

.download-free:hover,
.download-not-free:hover,
.download-free:focus,
.download-not-free:focus {
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border: none;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 32px;
  max-width: 448px;
}

.modal-box {
  display: flex;
  width: 488px;
  height: 236px;
  border: 3px solid;
  border-radius: 6px;
  border-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border-image-slice: 1;
  padding: 20px;

  margin-bottom: 32px;
}

.modal-list {
  width: 190px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 54px;
}

.modal-list::after {
  content: "";
  width: 232px;
  height: 0;
  border: 2px solid;
  border-image: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border-image-slice: 1;
  position: absolute;
  transform: rotate(-90deg);
  top: 50%;
  left: 54%;
}

.modal-list-item {
  display: flex;
  gap: 8px;
}

.modal-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.modal-list-wrap {
  display: flex;
  flex-direction: column;
}

.modal-list-right {
  width: 190px;
  display: flex;
  flex-direction: column;
}

.modal-right-item {
  display: flex;
  gap: 8px;
}

.modal-right-item:not(:last-child) {
  margin-bottom: 20px;
}

.modal-list-right-wrap {
  display: flex;
  flex-direction: column;
}

.modal-icons {
  fill: #fff;
  width: 28px;
  height: 28px;

  flex-shrink: 0;
}

.list-text {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  margin-bottom: 4px;
}

.text-accent {
  font-weight: 400;
  font-size: 12px;
  color: #1ab9fd;
}

.modal-download-btn {
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;

  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  width: 200px;
  height: 42px;
  border-radius: 5px;

  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 60px;
}

.modal-download-btn:hover,
.modal-download-btn:focus {
  background: #06071b;
  border: 2px solid;
  border-radius: 6px;
  border-image-source: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border-image-slice: 1;
}
